streamlit==1.46.0

langgraph==0.5.1
langgraph-checkpoint-postgres==2.0.23

langchain-core==0.3.68
langchain-groq==0.3.6
langchain-mcp-adapters==0.1.9

mcp==1.10.1

psycopg[binary]==3.2.9
python-dotenv==1.1.1
requests==2.32.4
pydantic>=2.7,<3

git+https://github.com/Pradumnasaraf/aviationstack-mcp.git