streamlit
langgraph
langgraph-checkpoint-postgres
langchain-core
langchain-groq
langchain-mcp-adapters
mcp[cli]
psycopg[binary]
python-dotenv
requests
git+https://github.com/Pradumnasaraf/aviationstack-mcp.git
